
    <div class="jq-header">
        <a href="index.html"><img src="/img/toIndex.png" alt=""></a>
        <span>头部</span>
        <button id="xinzeng" class="btn btn-default" data-toggle="modal" data-target="#myModal">新增</button>
        <div class="welcome">
            <span>hello,</span>
            <i>xxx</i>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="">退出</a>
        </div>

    </div>
